ul {
    display: flex;
    width: fit-content;
    height: 50px;
    padding: 0px;
    border: 5px black double;
}
li {
    list-style: none;
    padding: 10px 0px;
}
li:not(.active)::before {
    content: "♦";
    display: inline;
}
.active {
    font-weight: 700;
}
a {
    text-decoration: none;
    color: black;
    padding: 0px 20px;
}
a:hover {
    color: #3072C4;
}
