form {
    width: 500px;
    margin: 20px;
}

label {
    padding-left: 5px;
    position: relative;
}

input {
    opacity: 0;
}

label::before {
    content: "";
    position: absolute;
    transform: translate(-15px, 7px);
    z-index: 2;
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #F2F2F2;
    border: 1px solid #A0A0A0;
}

label::after {
    content: "";
    position: absolute;
    z-index: 3;
    left: -6.5px;
    top: 10.5px;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background-color: #000;
    display: none;
}

label:hover::before {
    background-color: #E5E5E5;
}

input:checked +label::before {
    border: 1px solid #A0A0A0;
}
input:checked + label::after {
    display: block;
}

input:focus + label::before {
    border: 2px solid blue;
}
input:focus + label::after {
    display: block;
}

input:active +label::before {
    background-color: 1px solid #A0A0A0;
}
input:active + label::after {
    display: block;
}

input[disabled] + label::before {
    background-color: #E5E5E5;
}
input[disabled] + label::after {
    display: none;
}
input[disabled] + label {
    color:  #A0A0A0;
}

input[checked] +label:after {
    background-color: #A0A0A0;
    display: block;
}
